<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %logger{36} - %msg%n" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>
